mat-toolbar{
    margin-bottom: 1em;
    justify-content: center;
}

mat-card{
    max-width: 80%;
    height: auto;
    margin: 3em auto;
    text-align: center;
}

mat-card-actions{
    justify-content: space-evenly;
}

.btnSalvar{
    background-color: rgb(75, 75, 75);
    width: 20%;
}

.btnCancelar{
    background-color: rgb(60, 60, 60);
    width: 20%;
}

.full-width{
    width: 100%;
}

.min-width{
    width: 100%;
    min-width: 150px;
}
